.btn-center {
    text-align: center;
    padding: 30px 0 40px 0;
}
.btn {
    font-size: 28px;
    padding: 15px 15px;
    border: none;
    background: coral;
    border-radius: 5px;
    box-shadow: 0 2px 2px #cccccc;
    color: #fff;
}
.lottery-circle {
  text-align: center;
    margin-top: 40px;
}
.lottery {
    display: inline-block;
    width: 50px;
    margin: 10px;
    padding: 20px;
    background: #282c34;
    border-radius: 50%;
    height: 50px;
    text-align: center;
    color: #fff;
}
